#gallery{
    padding-top: 50px;
    width:55%;
    margin-left: auto;
    margin-right: auto;
}
.girl, .boy, .girl1, .boy1{
    height: 70%;
    position: absolute;
    bottom: 100px;
    }
    .girl{

    left:100px;
    }
    .boy{

        right:100px;
    }
    #bg{
        height: 100vh;
        background:url('../img/gallery/bg.jpg') 100% 100% no-repeat;
        background-size: cover;
    }

        .girl1{
    z-index: -1000;
        left:10px;
        }
        .boy1{
            z-index: -1000;
            right:10px;
        }