.profile-bg{
height: 95vh; 
    background: url('../img/profile/bg.png') 100% 100% no-repeat; 
    background-size: cover;
    margin-top: -150px;
}
h1{
	margin:0;
}
a:hover{
	cursor: pointer;
}
.flexR{
		
		position: absolute;
		width: 100vw;
		margin-left: auto;
		margin-right: auto;
	display: flex;
	justify-content: space-around;
}
.flexC{
		height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
align-items: center;
}
.profile{
	 width: 26%;
  position: absolute;
  object-fit: contain;
  position:absolute;
  top:12%;
  left:21%;
}
.prizes{
	 width: 22%; 
  object-fit: contain;
  position:absolute;
  top:11%;
  right:23%;
}

.achievements{
	 width: 18%;
    object-fit: contain;
     position:absolute;
  bottom:8%;
  right:40%;
}