body {
  font-family: 'SegoeUI', sans-serif;
}

p {
  margin: 0;
}

.main-page {
  text-align: center;
}

.slider {
  height: 85vh !important;
}

.main__why-blocks-wrapper {
  background-image: url("../../assets/img/bg.jpg");

  .main__why-blocks-title {
    padding: 40px 0 0 0;
  }

  .main__why-blocks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 500px;

    .main__why-block {
      width: 300px;
      padding: 25px;

      h2 {
        margin-bottom: 5px;
      }
    }
  }
}

.main__start-quiz {
  margin-bottom: 30px;
}

.main__title-with-paragraph {
  margin: 25px 0;
  color: #6ea42e;
}

.main__button {
  border: none;
  border-radius: .3rem;
  padding: .5rem 1rem;
  background-color: #6ea42e;
  color: #ffffff;
  font-size: 1.25rem;
  line-height: 1.5;
  cursor: pointer;
}

.test {
  margin-bottom: 30px;
}

.slide {
  padding-top: 50px;
}
